@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,600;1,200;1,400&display=swap');

body {
  font-family: 'KoHo', sans-serif;
}

.card {
  color: #fff;
  flex-direction: row;
  background: #1B2631;
  width: 30vw;
  height: 10vh;
  border-bottom: solid #000 2px;
  border-radius: 0;
  padding-right: 10px;
}
.card img {
  width: fit-content;
}

.card p {
  font-size: 12px;
}

.card .h5 {
  font-size: 14px;
  font-weight: 600;
}

.tracks {
  background-color: #1B2631;
}

.card .btn {
  height: 50%;
  text-align: center;
  margin: auto;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5rem;
}